body {
	background-color: #616a53;
	font-family: helvetica, sans-serif;
	font-weight: 100;
}
h1 {
	color: ivory;
}
p {
	color: ivory;
}

@media only screen and (max-width: 590px){
	.carousel-item{
		max-height: 100px;
	}
}

@media only screen and (max-width: 830px){
	.carousel-item{
		max-height: 425px;
	}
}

@media only screen and (min-width: 830px){
	.carousel-item{
		max-height: 530px;
	}
}
